        a {
            text-decoration: none;
        }

        .table th,
        .table td {
            vertical-align: middle;
        }

        /* 上部入力フォームのレイアウト */
        .info-box {
            background-color: #f8f9fa;
            border-radius: 5px;
            padding: 15px;
            margin-bottom: 15px;
            position: relative;
            /* 相対位置を指定 */
        }

        /* 上部入力フォーム内のボタン位置指定 */
        .register-button1 {
            position: absolute;
            /* 絶対位置を指定 */
            bottom: 10px;
            /* 下から10pxの位置 */
            right: 75px;
            /* 右から260pxの位置 */
        }

        .register-button2 {
            position: absolute;
            /* 絶対位置を指定 */
            bottom: 10px;
            /* 下から10pxの位置 */
            right: 15px;
            /* 右から200pxの位置 */
        }

        .info-box input {
            width: 100px;
            text-align: right;
        }

        /* ツリー構造の「+、-」アイコン装飾 */
        .toggle-icon {
            font-size: 0.7rem;
            line-height: 1;
            text-align: center;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 0.2rem;
            width: 1rem;
            height: 1rem;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        /* 数値入力部分のスピナーを非表示 */
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            appearance: none;
            margin: 0;
        }

        input[type="number"] {
            appearance: none;
        }

        /* 詳細の入力部分の幅を調整 */
        .detail-input {
            width: 150px;
        }

        .details-cell {
            text-align: right;
        }

        .details-cell input {
            text-align: right;
            /* 入力欄内のテキストを右寄せ */
            width: 150px;
            /* 入力欄の幅を設定 */
        }

        /* tableのタイトル行を固定 */
        .table-container {
            max-height: 400px;
            /* 必要に応じて高さを調整 */
            overflow-y: auto;
            /* 縦スクロールを有効化 */
            border: 1px solid #ddd;
            /* テーブルの境界を視覚化 */
        }

        .table th {
            position: sticky;
            top: 0;
            background-color: #f8f9fa;
            /* ヘッダーの背景色を設定 */
            z-index: 2;
            /* 他の要素より上に表示されるようにする */
        }